torch~=1.8.1
numpy~=1.19.5
matplotlib~=3.4.2
nibabel~=3.2.1
tensorboardX~=2.2
pandas~=1.2.4
tensorflow~=2.5.0
sklearn~=0.0
scikit-learn~=0.24.2
tensorboard~=2.5.0
Pillow~=8.2.0
scipy~=1.6.3
pydicom~=2.1.2
setuptools~=57.0.0